<!DOCTYPE html>
<html>
<head>
    <% include include/jquery-header.ejs %>
    <% include include/parse-header.ejs %>
    <% include include/alertify-header.ejs %>
    <% include include/cienegacss.ejs %>
    <% var moment = require('moment'); %>
    <title>Inventory</title>
</head>
<body>
    <div id='menu'></div>

    <div id='content'>
        <table summary="Prices of meats">
            <thead><tr><th>Species</th><th>Category</th><th>Cut</th><th>Qty</th><th>Price</th><th>Location</th><th>Freezer</th><th>Slaughtered</th><th>Barcode</th></tr></thead></thead>
            <tbody>
                <%
                var prev_species='', prev_cat = '', prev_cut = '';
                meats.forEach(function(meat) {
                    var cut = meat.get('cut');
                    var freezer = meat.get('freezer');
                    var animal = meat.get('animal');
                    %>
                    <tr>
                        <td><% if(cut.get('species') != prev_species) { prev_species = cut.get('species') %><%= prev_species %><% } %></td>
                        <td><% if(cut.get('category') != prev_cat) { prev_cat = cut.get('category') %><%= prev_cat === undefined ? '' : prev_cat %><% } %></td>
                        <td><% if(cut.get('cut') != prev_cut) { prev_cut = cut.get('cut') %><%= prev_cut === undefined ? '' : prev_cut %><% } %></td>
                        <td><span class='aligndecimals'><%= meat.get('units').toFixed(2) %></span><span style='float:right;'>&nbsp;<%= cut.get('units') %></span></td>
                        <td><span style='float:left;'>$</span> <span class='aligndecimals'><%= (meat.get('units') * cut.get('price')).toFixed(2) %></span></td>
                        <td><span class='location'><%= freezer === undefined ? meat.get('location') : freezer.get('location') %></span></td>
                        <td><%= freezer === undefined ? '' : freezer.get('identifier') %></td>
                        <td><%= animal === undefined ? '' : moment(animal.get('slaughtered')).fromNow() %></td>
                        <td><a href='#' class='button qrcode' meatdesc='<%= meat.get('units')+cut.get('units')+" "+prev_species+" "+prev_cut %>' meatid='<%= meat.id %>'>Show</a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <% include include/jquery-scripts.ejs %>
    <% include include/parse-scripts.ejs %>
    <% include include/qrcode-scripts.ejs %>
    <% include include/alertify-scripts.ejs %>

    <script>
    $(function(){
        $(".qrcode").click(function(e)
        {
            var qrcode = document.createElement('div');
            $(qrcode).qrcode({
                size: 300,

                ecLevel: 'H',

                fill: '#000',
                background: '#fff',
                text: '{"desc":"'+$(this).attr('meatdesc')+'","id":"'+$(this).attr('meatid')+'"}',

                mode: 2,
                mSize: 0.08,
                mPosY: 0.80,
                fontname: 'Accidental Presidency',
                fontcolor: '#f00',

                label: $(this).attr('meatdesc')
            });

            alertify.alert($(this).attr('meatdesc'), qrcode);
        });
    });
    </script>

</body>
</html>
