<!DOCTYPE html>
<html>
<head>
    <% include include/jquery-header.ejs %>
    <% include include/parse-header.ejs %>
    <% include include/semantic-header.ejs %>
    <% include include/alertify-header.ejs %>
    <% include include/cienegacss.ejs %>
    <% var moment = require('moment'); %>

    <title>Inventory</title>

</head>
<body>
    <div class="ui fixed large teal main menu"></div>

    <div class="main content">
<%
    var prev_species=null, prev_category=null;

    meats.forEach(function(meat)
    {
        var cut = meat.get('cut');
        var freezer = meat.get('freezer');
        var animal = meat.get('animal');
        var species = cut.get('species');
        var category = cut.get('category');

        if(species != prev_species)
        {
            if(prev_species)
            {
                // New species, so reset categories
                prev_category = null;
                // Close the previous category and species DIVs
%>
                </div>
            </div>
        </div>
<%
            }
            // Now open a new species div and label it
            prev_species = species;
%>
        <div class="ui raised segment">
            <a class="ui top attached massive label"><%= prev_species %></a>
            <div class="content">
<%
        }

        if(category != prev_category)
        {
            if(prev_category)
            {
                // Close the previous category cards DIV
%>
                </div>
<%
            }
            // Now open a category div and label it
            prev_category = category;
%>

                <a class="ui big teal ribbon label"><%= prev_category %></a>
                <div class="ui cards">
<%
        }
%>
                    <div class="ui card">
                        <div class="content">
                            <i class="right floated big qrcode icon"
                                desc="<%= meat.get('units')+cut.get('units')+" "+cut.get('species')+" "+cut.get('cut') %>"
                                    ident="<%= meat.id %>"></i>

                            <div class="right floated">
                                <div class="ui green tag label">$<%= (meat.get('units') * cut.get('price')).toFixed(2) %></div>
                            </div>
                            <div class="header"><div class="ui teal small header"><%= cut.get('cut') === undefined ? '' : cut.get('cut') %></div></div>
                            <div class="meta"><%= meat.get('units').toFixed(2) +
                                                     '&nbsp;' +
                                                     cut.get('units') +
                                                     '&nbsp; @ $' +
                                                     cut.get('price').toFixed(2) +
                                                     '/' + cut.get('units') %></div>

                            <div class="left floated">
                                <i class="home icon"></i>
                                <%= freezer === undefined || freezer === null ? meat.get('location') : freezer.get('location') %>
                            </div>

                            <div class="left floated">
                                <i class="power icon"></i>
                                <%= freezer === undefined || freezer === null ? '' : freezer.get('identifier') %>
                            </div>
                        </div>

                        <div class="extra content">

                            <div class="left floated">
                                <i class="calendar icon"></i>
                                Butchered <%= animal === undefined || animal === null ? '' : moment(animal.get('slaughtered')).fromNow() %>
                            </div>

                        </div>
                    </div>

<%
    });
    // Finally close out category and species DIVs
%>
                </div>
            </div>
        </div>
    </div>

    <% include include/jquery-scripts.ejs %>
    <% include include/parse-scripts.ejs %>
    <% include include/semantic-scripts.ejs %>
    <% include include/qrcode-scripts.ejs %>
    <% include include/alertify-scripts.ejs %>

<div class="ui small modal qrcode">
  <i class="close icon"></i>
  <div class="header">
    QR Code
  </div>
  <div class="content">
    <div class="ui image qrcode center aligned"></div>
  </div>
  <div class="actions">
    <div class="ui positive button">
      OK
    </div>
  </div>
</div>

    <script type="text/javascript">
    $(function()
    {
        var fonts = $.Deferred();
        WebFontConfig = {
            google: { families: [ 'Amatic+SC:700:latin' ] },
            active: function() { fonts.resolve(); }
        };

        var wf = document.createElement('script');
        wf.src = '//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);

        fonts.done(function()
                    {
                        $("i.qrcode").click(function(e)
                        {
                            var ident = $(this).attr('ident');
                            var desc = $(this).attr('desc');

                            $('.modal.qrcode .image.qrcode').empty();

                            $('.modal.qrcode .image.qrcode').qrcode({
                                size: 600,

                                ecLevel: 'H',

                                fill: '#000',
                                background: '#fff',
                                text: '{"desc":"'+$(this).attr('desc')+'","id":"'+$(this).attr('ident')+'"}',

                                minVersion: 13,
                                maxVersion: 13,
                                quiet: 4,
                                mode: 2,
                                mSize: 0.13,
                                mPosY: 0.78,
                                fontname: 'Amatic SC',
                                fontcolor: '#c00',

                                label: $(this).attr('desc')
                            });

                            $('.modal.qrcode>.header').html(desc);

                            $('.modal.qrcode').modal('show');
                        });
                    });
    });
    </script>
</body>
</html>
