<!DOCTYPE html>
<html>
<head>
    <% include include/jquery-header.ejs %>
    <% include include/parse-header.ejs %>
    <% include include/semantic-header.ejs %>
    <% include include/cienegacss.ejs %>
    <% var moment = require('moment'); %>

    <title>Inventory</title>

</head>
<body>
    <div id='menu'></div>

    <div id='content'>
<%
    var prev_species=null, prev_category=null;

    meats.forEach(function(meat)
    {
        var cut = meat.get('cut');
        var freezer = meat.get('freezer');
        var animal = meat.get('animal');
        var species = cut.get('species');
        var category = cut.get('category');

        if(species != prev_species)
        {
            if(prev_species)
            {
                // New species, so reset categories
                prev_category = null;
                // Close the previous category and species DIVs
%>
                </div>
            </div>
        </div>
<%
            }
            // Now open a new species div and label it
            prev_species = species;
%>
        <div class="ui segment">
            <div class="ui top attached header inverted">
                <h1 class="ui header inverted"><%= prev_species %></h1>
            </div>
            <div class="ui attached segment">
<%
        }

        if(category != prev_category)
        {
            if(prev_category)
            {
                // Close the previous category cards DIV
%>
                </div>
                <div class="ui divider"></div>
<%
            }
            // Now open a category div and label it
            prev_category = category;
%>

                <a class="ui ribbon label"><%= prev_category %></a>
                <div class="ui cards">
<%
        }
%>
                    <div class="ui card">
                        <div class="content">
                            <div class="header">
                                <i class="selected radio icon"></i>
                                <%= cut.get('cut') === undefined ? '' : cut.get('cut') %>
                            </div>
                            <div class="description">

                                <div class="content">
                                  <div class="header">Weight</div>
                                  <%= meat.get('units').toFixed(2) + '&nbsp;' + cut.get('units') %>
                                </div>

                                <div class="content">
                                  <div class="header">Price</div>
                                  $<%= (meat.get('units') * cut.get('price')).toFixed(2) %>
                                </div>

                                <div class="content">
                                    <div class="header">Slaughtered</div>
                                    <%= animal === undefined || animal === null ? '' : moment(animal.get('slaughtered')).fromNow() %>
                                </div>

                                <div class="content">
                                    <div class="header">Location</div>
                                    <span class='location'><%= freezer === undefined || freezer === null ? meat.get('location') : freezer.get('location') %></span>
                                </div>

                                <div class="content">
                                    <div class="header">Freezer</div>
                                    <%= freezer === undefined || freezer === null ? '' : freezer.get('identifier') %>
                                </div>

                            </div>
                        </div>
                    </div>

<%
    });
    // Finally close out category and species DIVs
%>
                </div>
            </div>
        </div>
    </div>

    <% include include/jquery-scripts.ejs %>
    <% include include/parse-scripts.ejs %>
    <% include include/semantic-scripts.ejs %>

</body>
</html>
